body {
	height:100vh;
    width:100vw;
    display:flex;
    flex-wrap:wrap;
}

.col-1 {
    height:100vh;
    width:50vw;
    display:flex;
    flex-wrap:wrap;
    background-color:cornsilk;
}

.col-2 {
     height:100vh;
    width:50vw;
    display:flex;
    flex-wrap:wrap;
    background-color:cornsilk;
}

.blue_color {
    height:50%;
     width:50%;
    background-color:#4682B4;
}

.white_color {
    height:50%;
    width:50%;
    background-color:#FF0000;
}
    
